body{
    background-color: black; 
    color:white; 
}

button {
    background-color: black;
}

nav {
    color:white;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

a:hover {
    color:rgb(236, 119, 10);
}

i {
    font-size: 25px;
}
   
